:root {
  --primaryColor: #0407d8;
  --secondaryColor: rgb(9, 26, 54);
  --body_bg: #f7f9fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body {
  color: #fff;
  background-image: url("./images/wall.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn_style {
  text-decoration: none;
  color: #fff;
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 30px;
  outline: none;
  padding: 12px 42px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.25px;
  display: inline-block;
  transition: all ease 0.5s;
  margin-top: 15px;
  cursor: pointer;
}

.btn_style:hover {
  color: #fff;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}

.container_width {
  max-width: 650px;
  margin: auto;
}

.contact_us_area {
  padding: 6rem 0;
}

.contact_us_right {
  text-align: center;
  padding: 0 40px;
}

.contact_form {
  padding: 40px 35px;
  background-color: var(--body_bg);
  color: #000;
  border-radius: 15px;
  box-shadow: 4px 5px 14pc #bcbdbe;
  border: 1px solid rgb(225 225 225 / 61%);
}

.contact_form h3 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

.contact_form p {
  font-size: 0.9em;
}

.form {
  width: 100%;
  position: relative;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #444;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
  margin: 0;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--primaryColor);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
  transform: translateY(-110%);
  font-size: 14px;
  color: var(--primaryColor);
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
  transform: translateX(0%);
}

@media (max-width: 767px) {
  .contact_us_right {
    padding: 25px 15px;
  }

  .contact_form {
    padding: 46px 25px;
  }
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-around
}

.progressBar {
  max-width: 80%;
  margin: 0 auto 10px;
  height: 10px;
  background-color: #ccc;
}

.progressStatus {
  height: 100%;
  background-color: var(--primaryColor);
  transition: width 1s ease-in-out;
}

.text-right {
  text-align: right
}